@keyframes gradientWave {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .container {
  --gradient-color-1: #0b486b; /* Dark blue */
  --gradient-color-2: #f56217; /* Orange */
  --gradient-color-3: #f9d423; /* Yellow */
  --gradient-color-4: #8e44ad; /* Violet */


  background: linear-gradient(135deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3), var(--gradient-color-4));
  background-size: 400% 400%;
  animation: gradientWave 15s ease infinite;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    background-color: black; /* Setting navbar background to pure black */
  }


  .logo h1 {
  font-size: 1.5rem; /* Keep font size small */
  color: #ff6347; /* Change color to a different shade */
  margin: auto; /* Center the logo horizontally */
}
.logo img {
  max-width: 70px; /* Set maximum width for the logo image */
  height: auto; /* Maintain aspect ratio */
  
}



 
  
  .navLinks {
    display: flex;
    gap: 20px;
  }
  
  .link {
    text-decoration: none;
    color: #ccc; /* Dim white for normal state */
    font-size: 1rem;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out; /* Smooth transition for color and shadow */
  }
  
  .link:hover, .link:focus {
    color: #ffffff; /* Bright white on hover */
    text-shadow: 
      0 0 8px #ffffff, /* Adding glow effect */
      0 0 16px #ffffff; /* Increasing glow radius */
  }
  
  
  .heading {
    font-size: 2.5rem;
    margin-top: 80px; /* Adjust top margin to account for navbar */
  }
  
  .message {
    font-size: 1rem;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  
